.flex-2{
    flex: 2
}
.round-left{
    border-radius: 10px 0 0 10px;
}
.img-logo{
    width: 80px;
    height: 50px;
}
.branding{
    padding-bottom: 15px;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 20px;
}

i.fas.fa-search {
    position: relative;
    left: -45px;
    font-size: 28px;
    cursor: pointer;
}

.input-styled{
    padding: 25px 10;
}
.padding-15{
    padding: 15px;
}
.font-18{
    font-size: 18px;
    color: black;
}

.font-25{
    font-size: 25px;
}
.font-jura{
    font-family: 'Jura', sans-serif;
}
.font-fedricka{
    font-family: 'Fredericka the Great', cursive;
}

.huge{
    font-size: 100px;
    text-align: center;
}

.bg-danger-dark{
    background-color: #52020a;
}

i.fas.fa-envelope {
    font-size: 25px;
    color: lightgrey;
    position: absolute;
    left: 30px;
}

.logo-footer{
    width: 200px;
}

.bg-danger-deep-dark{
    background-color: #290202;
}
.bg-deep-yellow{
    background-color: #ffb100;
}

.border-custom{
    border-top: 1px solid grey;
    width: 50px;
    margin: auto;
}
.courel li{
    list-style: circle;
    font-size: 30px;
    cursor: pointer;
}
.text-subs{
    position: relative;
    top: 70px;
}
.img-container {
    max-width: 150px;
    margin: 40 auto;
}
.img-bg{
    
    min-height: 300px;
    background-image: linear-gradient(to bottom, rgba(21, 21, 23, 0.52), rgba(117, 19, 93, 0.73)),
    url(https://images.unsplash.com/photo-1551026965-10a65509886d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-size: cover;
    color: white;
    padding: 20px;
}


.img1-bg{
    min-height: 200px;
    background-image: linear-gradient(to bottom, rgba(21, 21, 23, 0.52), rgba(117, 19, 93, 0.73)),
    url(https://images.unsplash.com/photo-1584917865442-de89df76afd3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-size: cover;
    background-position: 50%;
    color: white;
    padding: 20px;
}
.img-start{
    background-image: url(https://images.unsplash.com/photo-1531928351158-2f736078e0a1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-position: center;
}

.min-h-100{
    min-height: 100%;
}

.bg-yellow {
    background: #ffff007d;
    float: left;
    padding: 5px  20px;
}
.bg-light-green{
    background-color: #4aff68;
    
    padding: 5px  20px;
}

.img-200{
    max-width: 300px;
}
hr{
    background-color: white;
}

.start-shop{
    position: relative;
    color: white;
    font-size: 30px;
    text-align: center;
    
}

.start-container{
    position: absolute;
    bottom: 0;
    padding: 0 40px
}
@media only screen and (min-width: 900px){
    .pl-md-10{
        padding-left: 100px
    }
}